.teachers-container {
  margin-left: 220px;
  padding: 20px;
  display: flex;
}

.teachers-content {
  flex-grow: 1;
  padding: 20px;
  background-color: #f4f7f9;
}

.form-group {
  margin-bottom: 20px;
}

.form-input {
  width: 100%;
  margin-bottom: 10px;
}

.form-button {
  margin-top: 10px;
}

.teachers-table {
  margin-top: 20px;
}
